.headPortfolio{
    color: rgb(3, 3, 53);
    font-size: 60px;
}
.parent{
    transition: all 0.3s ease;
    position: relative;
    
}
.layer{
    background-color: rgb(6, 194, 194);
    opacity: 0;
    color: white;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    transition: all ease 0.3s;
    
    
    
}
.parent:hover .layer{
    opacity: 0.7;
    
}
